{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teams</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Money Balance</th>
                <th>Players</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.country }}</td>
                    <td>{{ team.moneyBalance }}</td>
                    <td>
                        <ul>
                            {# {% for player in team.players.toArray() %}
                                <li>{{ player.name }} {{ player.surname }}</li>
                            {% endfor %} #}
                        </ul>
                    </td>
                </tr>
            {% endfor %}

            {{ knp_pagination_render(teams) }}
            
        </tbody>
    </table>
{% endblock %}
